.App {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  background-color: rgb(240, 240, 240);
}

.form-and-preview-title {
  color: white;
}
